/*Sets font family for page.*/
* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #F8F6E8;
}
/*Sets Header to background to blue, font color to right, sets title to the left, sets text color to white.*/
.header {
    padding: 10px;  
    background-color: #406772;
    color: white;
    justify-content: start;
    
}
/*Places the title on the left of the page, centers text vertically.*/
.header h1{
    position: relative;
    margin: 0;
    letter-spacing: 5px;
    align-content: center;    
    top: 10pt;
    left: 10pt;
}
/*Removes dots from list, places links on right oof page*/
.header nav ul {    
    list-style-type: none;
    margin-right: 10pt;
    padding: 0;
    display: flex;
    justify-content: end;
}
/*Sets font size of links, centers links vertically, sets text color to white.*/
.header nav ul li a {
    position: relative;
    bottom: 12pt;
    text-decoration: none;
    color: white;
    margin-right: 30pt;
    font-size: 20pt;
    
}
/*Sets size of headshot image, gives it a shadow, places it in center of the page.*/
#headshot {
    position: relative;
    top: 10pt;
    display: block;
    margin: 10pt auto;
    margin-bottom: 50pt;
    width: 25%;
    height: auto;
    box-shadow: 5pt 5pt darkgray;
    border-radius: 10pt;
}
/*Creates border around about me area, sets background color to blue, rounds corners & gives box shadow.*/
 .wrapper {
    display: flex;
    background-color: #5597B5;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    margin: 20pt;
    border-radius: 10pt;
    box-shadow: 5pt 5pt #8BA9B6;
}
/*Sets title to left of container, sets font color to white and makes it bold, centers text.*/
#about-title {
    width: 25%;
    background-color: #5597B5;
    padding: 20px;
    font-weight: bold;
    font-size: 25pt;
    text-align: center;
    justify-content: start;
    display: flex;
    color: #FAFAFA;
    position: relative;
    bottom: 5pt;
}
/*Creates box for info section paragraph*/
#info-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px 0;
}
/*Centers text, sets font color to white and font size.*/
#info-section p {
    display: flex;
    color: #FAFAFA;
    font-size: 15pt;
    text-align: center;
    position: relative;
    top: 10pt;
}
/*Creates box for my work area, sets background color to blue, aligns items vertically & horizontally, rounds corners & gives a box shadow*/
#my-work {
    display: flex;
    background-color:#5597B5;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    margin: 20pt;
    border-radius: 10pt;
    box-shadow: 5pt 5pt #8BA9B6;
}
/*Makes photo captions appear on hover.*/
#my-work figure:hover figcaption {
    opacity: 1;
}
/*Makes box for fig caption, places them under each photo and centers them, rounds corners, only displays on hover.*/
#my-work figure figcaption {
    background-color: #8BA9B6;
    color: #FAFAFA;
    display: block;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10pt;
    margin-bottom: 10pt;
    width: 25%;
    border-radius: 10pt;
    font-size: 15pt;
    padding: 10pt;
    opacity: 0;
    transition: opacity .3s ease;

}
/*Sets title above photos, sets text color to white, centers text, sets size of title.*/
#p-section-title {
    width: 35%;
    background-color: #5597B5;
    margin: 20px;
    font-weight: bold;
    font-size: 30pt;
    justify-content: center;
    display: flex;
    color: white;
}
/*Sets size of first photos, centers it, rounds the corners.*/
#first-work {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: auto;
    border-radius: 10pt;
}
/*Sets size of second photo, centers it, rounds the corners.*/
#second-work {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: auto;
    border-radius: 10pt;
}
/*Sets width of footer, aligned text in it to the center.*/
footer{
    position:relative;
    width: 100%;
    bottom: 0;
    text-align: center;
}
/*Sets size of footer font*/
footer h3 {
    font-size: 20px;
    margin-top: 0;
}
/*Makes footer icons display next to each other horizontally, sets icons at center of page, puts a margin around them.*/
.footer-icons {
    display: inline-block;
    width: 35pt;
    justify-content: center;
    margin: 20px;
}

@media (max-width: 800px) {
    /*Sets nav bar under title upon resizing, centers title and nav bar.*/
    .header{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .header h1 {
        margin-bottom: 10px;
        text-align: center;
        justify-content: center;
    }

    .header  nav {
        position: flex;
        margin-top: 30pt;
        margin-left: auto;
        margin-right: auto;

    }
    /*Sets contents to display vertically in a column, adds spacing between photos*/ 
    #info-section p {
        flex-direction: column;
        margin-bottom: 20pt;
        line-height: 1.5;
        margin-top: 0;
    }
    /*Makes images width take up 100% of the page*/
    #my-work figure img {
        width: 100%;
        margin: 10px auto;
    }
    /*Sets fig captions to show all the time upon resizing.*/
    #my-work figure figcaption {
        opacity: 1;
    }
}